.navigation-bar {
    display: flex;
    justify-content: flex-start;
    height: 4.5rem;
    background-color: var(--main-background-color);
}

.logo-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
}

.logo-container a {
    display: flex;
    align-items: center;
    height: 51%;
}

.logo-image {
    height: 100%;
}
