* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url('assets/images/star-pattern.svg');
  background-color: #235390;
}

:root {
  --main-background-color: #235390;
  --main-font-color: #fff;
}

.global-side-padding {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}